<div id="dixeo-module-generator" class="card border-0 d-flex flex-column">
    <div class="card-header d-flex justify-content-between align-items-center bg-light px-3 py-2" onclick="this.parentElement.classList.toggle('dixeo-collapsed');">
        <span class="font-weight-bold dixeo-module-generator-title">{{#str}}aiactivities, block_dixeo_modulegen{{/str}}</span>
        <span class="dixeo-module-generator-toggle">
            <i class="fa fa-chevron-down"></i>
        </span>
    </div>
    <!-- Content will be appended here -->
</div>
