{{!
    Block card shell. Content (activity chooser + footer) is injected by JS.

    @template block_dixeo_modulegen/card
    @package    block_dixeo_modulegen
    @author     Josemaria Bolanos <admin@mako.digital>
    @author     Pierre FACQ <pierre.facq@edunao.com>
}}
<div id="dixeo-module-generator" class="card border-0 d-flex flex-column" role="region" aria-label="{{#str}}aiactivities, block_dixeo_modulegen{{/str}}">
    <div class="card-header bg-light d-flex justify-content-between align-items-center px-3 py-2">
        <span class="font-weight-bold">{{#str}}aiactivities, block_dixeo_modulegen{{/str}}</span>
    </div>
</div>
