{{!
    Chooser item: one module type option. Triggers generation modal.

    @template block_dixeo_modulegen/item
    @package    block_dixeo_modulegen
    @author     Josemaria Bolanos <admin@mako.digital>
    @author     Pierre FACQ <pierre.facq@edunao.com>
}}
<div class="optioninfo text-center col-6 col-md-4 p-2">
    {{#options.enabled}}
    <a class="d-flex flex-column align-items-center text-decoration-none"
        href="{{options.href}}"
        role="button"
        data-toggle="modal"
        data-target="{{#options.modalTarget}}{{options.modalTarget}}{{/options.modalTarget}}{{^options.modalTarget}}#generationModal{{/options.modalTarget}}"
        data-modal-title="{{#str}}addnew, moodle, {{displayname}}{{/str}}"
        data-module-name="{{shortname}}"
        data-section-number="{{sectionid}}"
        {{#manualUploadType}}data-manual-upload-type="{{manualUploadType}}"{{/manualUploadType}}
        title="{{#str}}addnew, moodle, {{displayname}}{{/str}}">
    {{/options.enabled}}
    {{^options.enabled}}
    <span class="d-flex flex-column align-items-center text-muted"
        {{^installed}}title="{{#str}} pluginrequired, block_dixeo_modulegen, {{component}} {{/str}}"{{/installed}}
        {{#installed}}title="{{#str}} notavailable, block_dixeo_modulegen{{/str}}"{{/installed}}>
    {{/options.enabled}}
        {{#options.beta}}
            <span class="badge badge-warning position-absolute">Beta</span>
        {{/options.beta}}
        {{^options.enabled}}{{^installed}}<i class="fa fa-lock position-absolute" style="top: 16px; right: calc(50% - 20px); font-size: 12px; color: #6c757d;"></i>{{/installed}}{{/options.enabled}}
        <div class="optionicon activityiconcontainer rounded p-2 my-1" style="background-color: {{backgroundColor}};">
            <img src="{{iconurl}}" alt="{{displayname}} icon" width="32" height="32" onerror="this.onerror=null;this.src='{{config.wwwroot}}/blocks/dixeo_modulegen/pix/monologo.svg'"/>
        </div>
        <span class="optionname small font-weight-bold {{#options.enabled}}text-body{{/options.enabled}}">{{displayname}}</span>
    {{#options.enabled}}</a>{{/options.enabled}}{{^options.enabled}}</span>{{/options.enabled}}
</div>
