{{!
    Manual upload modal shell.

    @template block_dixeo_modulegen/manual_upload_modal
    @package    block_dixeo_modulegen
}}
<div class="modal fade" id="manualUploadModal" tabindex="-1" role="dialog" aria-labelledby="manualUploadModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {{> block_dixeo_modulegen/manual_upload_form}}
        </div>
    </div>
</div>
