<div class="row text-center stats-container">
    <div class="col-4">
        <div class="mx-auto d-flex align-items-center justify-content-center stat queued {{#stats.hasqueued}}active{{/stats.hasqueued}}" data-filter="queued">
            <div>
                <i class="fa fa-hourglass-start fa-2x" aria-hidden="true"></i>
                {{#stats.hasqueued}}
                    <div class="count">{{stats.queued}}</div>
                {{/stats.hasqueued}}
            </div>
        </div>
        <div class="mt-2 small text-muted">{{#str}} queued, block_dixeo_modulegen {{/str}}</div>
    </div>

    <div class="col-4">
        <div class="mx-auto d-flex align-items-center justify-content-center stat processing {{#stats.hasprocessing}}active{{/stats.hasprocessing}}" data-filter="processing">
            <div>
                <i class="fa fa-spinner {{#stats.hasprocessing}}fa-pulse{{/stats.hasprocessing}} fa-2x" aria-hidden="true"></i>
                {{#stats.hasprocessing}}
                    <div class="count">{{stats.processing}}</div>
                {{/stats.hasprocessing}}
            </div>
        </div>
        <div class="mt-2 small text-muted">{{#str}} processing, block_dixeo_modulegen {{/str}}</div>
    </div>

    <div class="col-4">
        <div class="mx-auto d-flex align-items-center justify-content-center stat completed {{#stats.hascompleted}}active{{/stats.hascompleted}}" data-filter="completed">
            <div>
                <i class="fa fa-check-circle fa-2x" aria-hidden="true"></i>
                {{#stats.hascompleted}}
                    <div class="count">{{stats.completed}}</div>
                {{/stats.hascompleted}}
            </div>
        </div>
        <div class="mt-2 small text-muted">{{#str}} completed, block_dixeo_modulegen {{/str}}</div>
    </div>
</div>
